<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings><add name="InEducationEntities" connectionString="metadata=res://*/Server.ServerModel.csdl|res://*/Server.ServerModel.ssdl|res://*/Server.ServerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EDGAR;initial catalog=InEducation;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>